.App {
  text-align: left;
  color: #000;
}
.navbar {
  background-color: #fff;
  padding-top: 15px;
}
p {
  margin: 0 10px;
}
.navbar a {
  color: white;
  text-decoration: underline;
  text-decoration-color: black;
}